# Pandas

## https://pandas.pydata.org/

# Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

- Series [1D]
- DataFrame [2D]
- Panel [df in df]

In [1]:
import pandas as pd

In [2]:
# check version
pd.__version__

'1.5.3'

## pd.Series(data,index,dtype)

In [3]:
# empty Series
pd.Series()

<ipython-input-3-0accf45e20f7>:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [4]:
pd.Series?

In [5]:
pd.Series(data=None,index=None,dtype=None)

<ipython-input-5-67d9aa2a9015>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series(data=None,index=None,dtype=None)

Series([], dtype: float64)

In [6]:
# The default dtype for empty Series will be 'object'
pd.Series(dtype=object)

Series([], dtype: object)

# Features of a Series
- Its Mutable in nature
- Array, indexing, slicing default
- 1 Dimensional data structure
- we can manipulate Series
- duplicate data and index is allowed

In [7]:
# Deal with data
k = [10,23.44,'python',56000]
s = pd.Series(k)
s

0        10
1     23.44
2    python
3     56000
dtype: object

In pandas object datatype means either u have str data or u have hetro. data

In [8]:
# int--> float-->complex--> str/object
pd.Series([1,'2',3.])

0      1
1      2
2    3.0
dtype: object

In [9]:
# series with str values
pd.Series(['A','B','C'])

0    A
1    B
2    C
dtype: object

In [13]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [11]:
pd.Series([1,2,3,4.]) #upcasting

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [12]:
pd.Series([1,2,3,4,5j])

0    1.0+0.0j
1    2.0+0.0j
2    3.0+0.0j
3    4.0+0.0j
4    0.0+5.0j
dtype: complex128

In [14]:
a = pd.Series([1,2,3])
a.__sizeof__()

152

In [15]:
b = pd.Series(['1','2','3'])
b.__sizeof__()

302

In [16]:
a.dtype,b.dtype

(dtype('int64'), dtype('O'))

### Check the properties of Series

In [17]:
s

0        10
1     23.44
2    python
3     56000
dtype: object

In [18]:
#check dimension
s.ndim

1

In [19]:
#check total no. of elements(rows)
s.size

4

In [20]:
len(s)

4

In [22]:
s.count()

4

In [23]:
import numpy as np
t = pd.Series([np.nan,1,2,np.nan])
t
#NaN: Not a Number

0    NaN
1    1.0
2    2.0
3    NaN
dtype: float64

In [24]:
t.count()
# Return number of non-NA/null observations in the Series.

2

In [25]:
t.size # it check for all values NaN as well

4

In [26]:
# check number of rows and columns
# as Series is 1D so we dont have columns
s.shape

(4,)

In [27]:
# check data type
s.dtype

dtype('O')

In [28]:
# check memory usage in bytes
s.memory_usage()

160

In [29]:
s

0        10
1     23.44
2    python
3     56000
dtype: object

In [33]:
# fetch data only
s.values

array([10, 23.44, 'python', 56000], dtype=object)

In [31]:
# fetch index
s.index

RangeIndex(start=0, stop=4, step=1)

### Apply some statistical or Mathematical operations

In [34]:
a = pd.Series([120,1,9000,22,18])
a

0     120
1       1
2    9000
3      22
4      18
dtype: int64

In [35]:
# find out max value
a.max()

9000

In [36]:
max(a)

9000

In [37]:
# find out min
a.min()

1

In [38]:
# find out mean/average
a.mean()

1832.2

In [39]:
a

0     120
1       1
2    9000
3      22
4      18
dtype: int64

In [40]:
# median
#[4,10,2,1,5,7]--> sort records --> [1,2,4,7,10]--> middle value-->4
a.median()

22.0

In [ ]:
#Q. mean vs median

In [ ]:
a #1 18 22 120 9000

In [ ]:
# Assignment: create a series for 40,2,4,670,7,90,1,20
# check all the properties for above Series

# Q. Central Measures of Tendancies:
   ##  - mean()--> avg
   ##  - median()--> middle value after sort
   ##  - mode()--> most frequent object/value

In [41]:
# mode: most frquent value
a.mode()

0       1
1      18
2      22
3     120
4    9000
dtype: int64

In [42]:
b = pd.Series([100,230,450,100,100])
b

0    100
1    230
2    450
3    100
4    100
dtype: int64

In [43]:
# 100 presents more times
b.mode()

0    100
dtype: int64

In [44]:
n = pd.Series(['Mangesh','Roshni','Roshni','Suvarna'])
n

0    Mangesh
1     Roshni
2     Roshni
3    Suvarna
dtype: object

In [45]:
n.mode()

0    Roshni
dtype: object

In [ ]:
# Assignment: Check mode on Hetro. data

### Series Strcuture

In [46]:
print(dir(pd.Series))

['T', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_convert', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'cat', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dt', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

## Difference between method and properties

In [47]:
# for properties we need not to call it: means no need of ()
a.values

array([ 120,    1, 9000,   22,   18])

In [48]:
# for methods we need to call : means use ()
a.max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0     120
1       1
2    9000
3      22
4      18
dtype: int64>

In [49]:
# if we get bound method in output then u must have to call it
a.max()

9000

In [50]:
type(a)

pandas.core.series.Series

In [51]:
#check freuqnecy count of each unique category
n

0    Mangesh
1     Roshni
2     Roshni
3    Suvarna
dtype: object

In [52]:
# when we want categorywise count then use value_counts()
n.value_counts()

Roshni     2
Mangesh    1
Suvarna    1
dtype: int64

In [53]:
# check unique records
n.unique()

array(['Mangesh', 'Roshni', 'Suvarna'], dtype=object)

In [54]:
# count unique records
n.nunique()

3

### append()

In [55]:
a,s

(0     120
 1       1
 2    9000
 3      22
 4      18
 dtype: int64,
 0        10
 1     23.44
 2    python
 3     56000
 dtype: object)

In [56]:
# Concatenate two or more Series.
a.append(s)

<ipython-input-56-3bc00a1a6bbc>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a.append(s)

0       120
1         1
2      9000
3        22
4        18
0        10
1     23.44
2    python
3     56000
dtype: object

In [57]:
# problem with index can be solved using ignore_index
a.append(s,ignore_index=True)

<ipython-input-57-b5e45740bce0>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a.append(s,ignore_index=True)

0       120
1         1
2      9000
3        22
4        18
5        10
6     23.44
7    python
8     56000
dtype: object

In [58]:
a.append([s,a,s])

<ipython-input-58-7c262a970968>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a.append([s,a,s])

0       120
1         1
2      9000
3        22
4        18
0        10
1     23.44
2    python
3     56000
0       120
1         1
2      9000
3        22
4        18
0        10
1     23.44
2    python
3     56000
dtype: object

## apply()

In [59]:
#s.apply(function)
a

0     120
1       1
2    9000
3      22
4      18
dtype: int64

In [60]:
# add 1000 in each num from a Series
a.apply(lambda num:num+1000)

0     1120
1     1001
2    10000
3     1022
4     1018
dtype: int64

In [61]:
a+1000

0     1120
1     1001
2    10000
3     1022
4     1018
dtype: int64

In [62]:
def square(num):
    return num**2

a.apply(square)

0       14400
1           1
2    81000000
3         484
4         324
dtype: int64

In [ ]:
a # changes are temp.

In [63]:
n

0    Mangesh
1     Roshni
2     Roshni
3    Suvarna
dtype: object

In [64]:
# convert names to upper case
n.apply(lambda name:name.upper())

0    MANGESH
1     ROSHNI
2     ROSHNI
3    SUVARNA
dtype: object

In [ ]:
# convert name into its len
n.apply(lambda name:len(name))

In [ ]:
n.apply(len)

In [ ]:
log = pd.Series(['1234-bar234-234234','4545-nmg43345-535545'])
log

In [ ]:
log.apply(lambda num:num.split('-'))

In [ ]:
log.apply(lambda num:num.split('-')[-1])

In [ ]:
v = pd.Series(['Narayan Rane','Ajit Pawar'])
v

In [ ]:
v.apply(lambda nm:nm.split())

In [ ]:
#fetch first  name
v.apply(lambda nm:nm.split()[0])

In [ ]:
pin = pd.Series(['Ap.Satara Karad 542451','Pune Katraj 234567'])
pin

In [ ]:
'Pune Katraj 234567'.find('pune') #-1 means missing/absent

In [ ]:
#fetch pincode
#pin.apply(lambda p: p.find('Pune'))
pin.apply(lambda data: data.split()[-1])

In [ ]:
# using normal function
def find(p):
    return p[-6:]
pin.apply(find)

In [65]:
p = pd.Series(['Mr. Anil','Mr. Uddhav','Mrs. Rashmi','Mr. Aditya'])
p

0       Mr. Anil
1     Mr. Uddhav
2    Mrs. Rashmi
3     Mr. Aditya
dtype: object

In [67]:
p.apply(lambda data:data.split('.')[0])

0     Mr
1     Mr
2    Mrs
3     Mr
dtype: object

## astype(): for typecasting

In [68]:
import pandas as pd
#pd.Series(data,index,dtype)
a = pd.Series([20,3400,506,1,23,30])
a

0      20
1    3400
2     506
3       1
4      23
5      30
dtype: int64

In [69]:
#change data type of Series 'a'
a.astype('float')

0      20.0
1    3400.0
2     506.0
3       1.0
4      23.0
5      30.0
dtype: float64

In [70]:
r = pd.Series(['10','20','30'])
r

0    10
1    20
2    30
dtype: object

In [72]:
r.mean()

34010.0

In [73]:
# in above case there is a problem in answer
# hence we need conversion to int
# so astype will convert from object  to int
r.astype('int').sum()

60

In [74]:
r.astype(int) # temp

0    10
1    20
2    30
dtype: int64

In [75]:
r

0    10
1    20
2    30
dtype: object

# Q. what is astype? What is the purpose

---


# Q. when to use astype
# Q. if we want to change/convert a data type of a Series

In [82]:
data = ['10','30','40']

pd.Series(data,dtype=float)

0    10.0
1    30.0
2    40.0
dtype: float64

In [83]:
data = [2.,4.,5.]
p = pd.Series(data)
p

0    2.0
1    4.0
2    5.0
dtype: float64

In [85]:
p.astype('int')

0    2
1    4
2    5
dtype: int64

### describe()

In [ ]:
a = pd.Series([20,3400,506,1,23,30])
a

In [ ]:
# Generate descriptive statistics.
# returns statistical information
a.describe()

In [ ]:
# describe works on numeric data default
nm = pd.Series(['amit','amol','akshay','amol','amol'])
nm

In [ ]:
set(nm)

In [ ]:
nm.describe()

## diff()

In [ ]:
a

In [ ]:
506 - 3400

In [ ]:
a.diff()
# calculates difference between consecutive numbers (next_num - prev_num)

In [ ]:
d = pd.Series([7,7,7,5,5,5,5,5,5])
d

In [ ]:
d.diff()

# work on index

In [ ]:
# At the time of creation
pd.Series([10,20,30,40,50])
# default index starts from 0 and stop at n-1

In [ ]:
# pd.Series(data,index,dtype)
pd.Series([10,20,30,40,50],['A','B','C','D','E'])

In [ ]:
#change sequence
pd.Series(['A','B','C','D','E'],[10,20,30,40,50])

In [ ]:
#change sequence
pd.Series(index=['A','B','C','D','E'],data=[10,20,30,40,50])

In [ ]:
dt,index = [10,20,30,40,50],['A','B','C','D','E']
pd.Series(dt,index)

In [ ]:
pd.Series(dt,range(101,106))

In [ ]:
import numpy as np
y = pd.Series(dt,np.arange(21,26))
y

# if we want to change an index of already created Series

In [ ]:
y

In [ ]:
y.reset_index()

In [ ]:
y.reset_index(drop=True)
# drop =  True means it will drop index column generated and returns Series

In [ ]:
y